@charset "UTF-8";
main {
    width: 900px;
    display: flex;
    border-radius: 40px 10px 10px 20px;
}
#um {
    width: 45%;
    height: 350px;
    border-radius: 0px 10px 10px 0px;
    background-position: right top;
    order: 2;
}
#dois {
    width: 55%;
    height: 350px;
    order: 1;
}