@charset "UTF-8";
main {
    width: 80%;
    display: flex;
    border-radius: 10px 40px 20px 10px;
}
#um {
    width: 30%;
    height: 310px;
    border-radius: 10px 0px 0px 10px;
}
#dois {
    width: 70%;
    height: 310px;
}